container_commands:
  01-https:
    command: "php -v"

files:
    "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_https.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            SSL_DIR="/etc/httpd/certs"
            DOMAIN="helloworld-env-1.zm5ahvwqqi.eu-west-1.elasticbeanstalk.com"
            PASSPHRASE="password"
            SUBJ="
            C=US
            ST=London
            O=Acme
            localityName=London
            commonName=$DOMAIN
            organizationalUnitName=
            emailAddress=
            "
            sudo mkdir -p "$SSL_DIR"
            sudo openssl genrsa -out "$SSL_DIR/https.key" 1024
            sudo openssl req -new -subj "$(echo -n "$SUBJ" | tr "\n" "/")" -key "$SSL_DIR/https.key" -out "$SSL_DIR/https.csr" -passin pass:$PASSPHRASE
            sudo openssl x509 -req -days 365 -in "$SSL_DIR/https.csr" -signkey "$SSL_DIR/https.key" -out "$SSL_DIR/https.crt".