files:
  "/home/ec2-user/test.txt":
    mode: "000755"
    owner: root
    group: root
    content: |
      This is my test file

  "/home/ec2-user/.htaccess":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      # Enforces standards mode in IE8
      Header set X-UA-Compatible "IE=edge"

      # Content-Security-Policy
      # Header set Content-Security-Policy "script-src data: 'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com https://ajax.googleapis.com https://*.jwpcdn.com https://code.highcharts.com https://*.newrelic.com https://*.nr-data.net https://*.google-analytics.com;"

      # Turn on the rewrite engine
      RewriteEngine On
      RewriteBase /

      # Route everything to PHP
      RewriteCond %{REQUEST_FILENAME} !-f
      RewriteCond %{REQUEST_FILENAME} !-d
      RewriteRule ^(.*)$ index.php/$1 [L]

      php_value upload_max_filesize 100M
      php_value post_max_size 100M